
ul.menu span.icon,
ul.quickbar-list span.icon,
ul.links span.icon { background:transparent url(icons.png) -30px 0px no-repeat; }

div.depth-1 span.icon { background:transparent url(icons.png) 0px 0px no-repeat; }

.path-admin-content-add span.icon { background-position:-60px 0px !important; }

.path-admin-content-aggregator span.icon { background-position:-210px -150px !important; }

.path-admin-settings-wysiwyg span.icon,
.path-admin-settings-fckeditor span.icon,
.path-admin-settings-tinymce span.icon,
.path-admin-content-node span.icon { background-position:-90px 0px !important; }

.path-admin-settings-date-time span.icon { background-position:-120px 0px !important; }

.path-admin-settings-filters span.icon { background-position:-30px -60px !important; }

.path-admin-content-node-settings span.icon { background-position:0px -150px !important; }

.path-admin-structure-translate span.icon,
.path-admin-settings-language span.icon { background-position:0px -60px !important; }

.path-admin-settings-performance span.icon { background-position:-30px -90px !important; }

.path-admin-reports-search span.icon,
.path-admin-settings-search span.icon { background-position:-30px -30px !important; }

.path-admin-settings-devel span.icon,
.path-admin-settings-site-maintenance span.icon { background-position:-90px -90px !important; }

.path-admin-settings-site span.icon { background-position:-60px -90px !important; }

.path-admin-structure-menu span.icon { background-position:-150px 0px !important; }

.path-admin-content-book span.icon { background-position:-180px 0px !important; }

.path-admin-content-forum span.icon { background-position:-90px -150px !important; }

.path-admin-content-comment span.icon { background-position:-210px 0px !important; }

.path-admin-structure-types span.icon { background-position:-120px -30px !important; }

.path-admin-structure-taxonomy span.icon { background-position:-180px -30px !important; }

.path-admin-settings-mailhandler span.icon,
.path-admin-content-mailhandler span.icon { background-position:-210px -30px !important; }

.path-admin-settings-feedapi span.icon,
.path-admin-content-feed span.icon,
.path-admin-content-rss-publishing span.icon { background-position:-150px -30px !important; }

.path-admin-structure-block span.icon { background-position:-210px -90px !important; }

.path-admin-settings-image-toolkit span.icon,
.path-admin-settings-imageapi span.icon,
.path-admin-structure-imagecache span.icon { background-position:-120px -60px !important; }

.path-admin-structure-features span.icon,
.path-admin-structure-modules span.icon { background-position:-180px -90px !important; }

.path-admin-structure-themes span.icon { background-position:-120px -90px !important; }

.path-admin-settings-actions span.icon,
.path-admin-structure-trigger span.icon { background-position:-180px -120px !important; }

.path-admin-structure-views span.icon { background-position:-210px -60px !important; }

.path-admin-settings-uploads span.icon { background-position:-90px -60px !important; }

.path-admin-reports-access-denied span.icon { background-position:-90px -30px !important; }

.path-admin-reports-page-not-found span.icon { background-position:-30px -150px !important; }

.path-admin-reports-status span.icon { background-position:-60px -30px !important; }


.path-admin-user-rules span.icon { background-position:0px -120px !important; }

.path-admin-user-captcha span.icon,
.path-admin-user-permissions span.icon { background-position:-30px -120px !important; }

.path-admin-user-roles span.icon { background-position:-60px -120px !important; }

.path-admin-og span.icon,
.path-admin-user-user span.icon { background-position:-90px -120px !important; }

.path-admin-user-profile span.icon,
.path-admin-user-settings span.icon { background-position:-150px -120px !important; }

.path-admin-settings-logging span.icon { background-position:-150px -60px !important; }

.path-admin-reports-hits span.icon { background-position:-60px -150px !important; }

.path-admin-reports-updates span.icon { background-position:-150px -90px !important; }

.path-admin-reports-dblog span.icon { background-position:-210px -120px !important; }

.path-admin-reports-pages span.icon { background-position:0px -180px !important }

.path-admin-reports-referrers span.icon { background-position:-180px -150px !important; }

.path-admin-reports-settings span.icon { background-position:-210px -180px !important; }

.path-admin-reports-visitors span.icon { background-position:-30px -180px !important; }

.path-admin-settings-site-information span.icon { background-position:-60px -30px !important; }

.path-admin-settings-file-system span.icon,
.path-admin-content-backup_migrate span.icon { background-position:-60px -60px !important; }

.path-admin-structure-contact span.icon { background-position:-60px -180px !important; }

.path-admin-settings-reroute_email span.icon,
.path-admin-settings-smtp span.icon,
.path-admin-content-simplenews span.icon { background-position:-210px -30px !important; }

.path-admin-settings-blogapi span.icon { background-position:-90px -180px !important; }

.path-admin-settings-simplenews span.icon { background-position:0px -150px !important; }

.path-admin-settings-throttle span.icon { background-position:-120px -150px !important; }

.path-admin-content-nodequeue span.icon { background-position:-180px -30px !important; }

.path-admin-settings-clean-urls span.icon { background-position:-180px -180px !important; }

.path-admin-structure-path span.icon { background-position:-150px -180px !important; }

.path-admin-settings-error-reporting span.icon { background-position:-150px -150px !important; }
